body{
    background-color: #FFF3F3;
}
.header-bar{
    display: inline;
}

header.header-bar{
    position: fixed;
    top: 0;
    right: 0;
    left: 30%;
    height: 55px;
    width: 100%;
   
    background-color:white;
}

p.header-bar{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgba(247, 201, 223, 0.836);
}
i.header-bar{
    font-size: 35px;
    color: rgba(247, 201, 223, 0.836);
    font-weight: 1000;
}
nav.side-bar{
    width: 250px;
    position: fixed;
    background-color: white;
    left: 0;
}
li.side-bar{
    list-style: none;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
}
a.side-bar{
    font-size: 30px;
    color: #694532;
}