.page-title h3{
    margin-top: 8%;
}

.col-12 .despesas a{
    background-color: #DF9DB1;
    border: none;
    border-radius: 50%;
    height: 34px;
    font-size: 18px;
    margin-left: 10px;
}

.page-heading .dropdown {
    margin-left: 87%;
}

.page-heading .dropdown strong, .relatorio{

    color: white;
    font-weight: normal;

}

.section .card{
margin-top: 6%;
}

.page-heading .dropdown a:hover{

    color: #DF9DB1;
    font-weight: normal;
    background-color: black;

}

.page-heading .dropdown a{
    background-color: #DF9DB1;
    font-size: 18px;
    color: #000;
    border: none;
    border-radius: 15px;

}
.relatorio .btn{

    background-color: #DF9DB1;
    font-size: 18px;
    color: white;
    border: none;
    width: 13%;
    border-radius: 15px;
    margin-top: 10px;

}

.relatorio .btn:hover{
    
    font-weight: normal;
    background-color: black;
}


.meses{

    width: 180px;

}

.page-heading .dropdown li a{
    background-color: white;
    font-size: 14px;
}

.page-heading .dropdown-menu a:hover {
    background-color:   #FCCAD5;
    color: #000;
}

.page-heading .dropdownli a {
    font-size: 14px;
    border: none;
}

.page-heading .dropdown{
    right: 2%;
    margin-top: -3%;
    height: 40px;
    padding: 10px;
}

.table-responsive .table-name{
    font-weight: 300;
    font-size: 18px;
    

}